.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
  gap: 5px;
}

header {
  display: flex;
  width: 600px;
  flex-direction: row;
  justify-content: space-between;
}

.board button {
  width: 200px;
  height: 200px;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1;
  background: hsl(120 25% 75%);
  border: 1px solid hsl(120 50% 50%);
}

.board button:disabled {
  color: black;
}

.player {
  font-size: 2rem;
  opacity: 0.5;
}

.player.active {
  opacity: 1;
}
